<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<h1>Account Form</h1>

<form method="POST">
    <label for="uname">User name:</label><br>
    <input type="text" id="uname" name="uname" value=""><br>
    <label for="region">Region:</label><br>
    <input type="text" id="region" name="region" value=""><br>
    <label for="api_key">API Key::</label><br>
    <input type="text" id="api_key" name="api_key" value="RGAPI-5130fc1e-f703-4c79-94ac-0be3b298c993"><br><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>