<!DOCTYPE html>
<html lang="en">

    <head>
<!--        <script src="script.js"></script>-->
        <meta charset="UTF-8"/>
        <title>INFO</title>
    </head>
    <style>
        table {
            border:1px solid black;
            border-collapse: collapse;
        }
        tr {
            border-bottom: 1pt solid black;
        }
    </style>
    <body>

        <h1> {{ name }} </h1>
        <table>
            <tr>
                <td>Name:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Region:</td>
                <td>{{region}}</td>
            </tr>
            <tr>
                <td>Level:</td>
                <td>{{level}}</td>
            </tr>
            <tr>
                <td>Rank:</td>
                <td>{{rank}}</td>
            </tr>
        </table>


    </body>
    </html>